<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295415348627-3r4rbak8ohn2k3iq36qgqhkgoh58ca6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295415348627-3r4rbak8ohn2k3iq36qgqhkgoh58ca6l</string>
	<key>API_KEY</key>
	<string>AIzaSyDgft-AFU4NJvcFEN1UZDZRLJAY66SqqWo</string>
	<key>GCM_SENDER_ID</key>
	<string>295415348627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Eslam-Sebaie22.iCarsousel</string>
	<key>PROJECT_ID</key>
	<string>icarsousel</string>
	<key>STORAGE_BUCKET</key>
	<string>icarsousel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295415348627:ios:8c46baa73dd98e79cf7c66</string>
	<key>DATABASE_URL</key>
	<string>https://icarsousel.firebaseio.com</string>
</dict>
</plist>